<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>ClarityAI</title>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="intro text-center py-10">
      <h1 class="intro__header text-6xl font-bold">
        <span class="intro__logo text-2xl">Clarity</span>
        <span class="intro__logo text-2xl">AI</span>
      </h1>
    </div>

    <header>
      <h4 class="text-center text-xl font-semibold py-4">ClarityAI.</h4>
    </header>

    <!-- Text and buttons -->
    <div class="text-center py-6">
      <p class="mt-4 text-lg">Bring Clarity to your work with our AI tools</p>
      <div class="mt-6 flex justify-center gap-4">
        <a href="/about" class="block">
          <button class="px-4 py-2 bg-blue-600 text-white rounded-lg">
            About the App
          </button>
        </a>
      </div>
    </div>

    <div class="container mx-auto px-4 py-10">
      <div class="grid md:grid-cols-2 gap-6">
        <a href="/main" class="block">
          <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold">
              Text, Image-Based & Document-Based Conversations
            </h3>
            <p class="mt-2 text-gray-400">
              Have text-to-text, image, and document-based conversations
              effortlessly.
            </p>
          </div>
        </a>
        <a href="/p2f" class="block">
          <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold">Flowchart Generation</h3>
            <p class="mt-2 text-gray-400">
              Generate flowcharts for your ideas and projects with ease.
            </p>
          </div>
        </a>
      </div>
    </div>

    <script src="scripts/script.js"></script>
  </body>
</html>
